
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
body {
  display: flex;
  height: 90%;
  align-items: center;
  justify-content: center;
  font-family: 'Cabin', sans-serif;
  background-color: #282846;
}
#headboard{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 5px;
}
#info{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#info div{
  width: 26%;
  border: 5px solid #fed049;
  background: white;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#headboard h1{
  width: 98%;
  margin-top: 0;
  margin-bottom: 10px;
  border: 10px solid #fed049;
  background-color: white;
  border-radius: 10px;
  text-align: center;

}
#startGameBtn{
  border-radius: 10px;
  border: 0px;
  color: white;
  background-color: #282846;
  width: 29%;
  margin: 0;

}
#game {
  display: flex;
}
#messagesArea {
  overflow-x: hidden;
  min-width: 200px;
  max-height: 200px;
  min-height: 100px;
  overflow-x: visible;
  background-color: rgb(255, 255, 255);
  color: black;
  overflow-y: scroll;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}
#chat {
  margin-top: 10px;
  max-width: 250px;
  background: #282846;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}
#message{
  border-radius: 10px;
  min-height: 10px;
  margin-bottom: 10px;
  height: 25px;
  overflow-x: scroll;
}
#sendMessageBtn{
  border-radius: 10px;
  border: 0px;
  height: 25px;
}
#usersList{
  margin-top: 10px;
  width: 250px;
  background: #282846;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#drawArea {
  margin-top: 10px;
  width: 570px;
  height: 450px;
  background-color: #282846;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px ;
}
#usersArea{
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 70%;
  min-height: 100px;

}
#hitAlert{
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 300px;
  height: 150px;
  position: fixed;
  border: 10px solid #fed049;
  background-color:#282846;
  color: white;
  border-radius: 20px;
  font-size: large;
  z-index: 1;
  margin-left: 50%;
  margin-top: 10%;
  left: -150px;
}
#drawArea input {
  margin-right: 5px;
  border-radius: 10px;
  text-align: center;
}
#gamecontainer {
  display: flex;
  justify-content: space-around;
  background: #fed049;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  width: 97%;
}
#gamecontainer input {
  border-radius: 10px;
  border: 0;
  margin-bottom: 10px;
  border: 2px dashed white;
}
canvas {
  margin: 5px;
  margin-top: 8px;
  background: white;
  border-radius: 15px;
}
#gameSelect {
  display: flex;
  flex-wrap: wrap;
  background:#fed049;
  justify-content: space-around;
  border-radius: 10px;
}
#gameSelect h1{
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  text-align: center;

}

.container {
  padding: 10px;
  width: 40%;
  background: white;
  border-radius: 10px;
  margin: 10px;
  display: block;
  position: relative;
}

#gameSelect h2 {
  background: #282846;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: white;
  width: 80%;
}
#gameSelect input {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 80%;
  background-color: aliceblue;
  
}
#gameSelect label {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: auto;
}
#gameSelect button {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: auto;
}
